{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chatbox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/spinner.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="hidden-table" hidden>
        <table id="csvTable" border="1">
            <thead>
                <tr id="tableHead"></tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
    </div>

    <div class="chat-container">
    {% csrf_token %}
        <div class="chat-header">
            Chatbot
        </div>
        <div class="chat-messages" id="chatMessages">
            {% if logs %}
                <div class="message bot">
                    <span class="text">{{ logs|join:', \n ' }}</span>
                </div>
            {% endif %}
            {% if message %}
                <div class="message bot">
                    <span class="text">{{ message }}</span>
                </div>
            {% endif %}
        </div>
        <div class="chat-input">
            <input type="text" id="userInput" placeholder="Type your message here...">
            <button onclick="sendMessage()">Send</button>
        </div>
        <div class="button-group">
            <input type="file" id="csvFileInput" accept=".csv" name="Upload file">
            <button id="spinner" class="spinner" hidden></button>

            <button id="filterAnomaliesButton">Find anomalies</button>
            <button id="clearChat" style="color: #ffffff; background: #e00f0f; padding: 10px" onclick="clearChat()">Clear History</button>
        </div>
        <br><br>
    </div>
    <script src="{% static 'js/upload.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
</body>
</html>