{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log anomaly detector</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chatbox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/spinner.css' %}">
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{#  <div class="sidebar">#}
{#    <a href="#">Home</a>#}
{#    <a href="#">Dashboard</a>#}
{#    <a href="#">Settings</a>#}
{#    <a href="#">Logout</a>#}
{#  </div>#}
    <div id="hidden-table" hidden>
        <table id="csvTable" border="1">
            <thead>
                <tr id="tableHead"></tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>
    </div>

    <div class="chat-container">
    {% csrf_token %}
        <div class="chat-header">
            Chatbot
        </div>
        <div class="chat-messages" id="chatMessages">
            {% if logs %}
                <div class="message bot">
                    <span class="text">{{ logs|join:', \n ' }}</span>
                </div>
            {% endif %}
            {% if message %}
                <div class="message bot">
                    <span class="text">{{ message }}</span>
                </div>
            {% endif %}
        </div>
        <div class="chat-input">
            <input type="text" id="userInput" placeholder="Type your message here...">
            <button onclick="sendMessage()">Send</button>
        </div>
        <div class="button-group">
            <input type="file" id="csvFileInput" accept=".csv" name="Upload file">
            <button id="spinner" class="spinner" hidden></button>

            <button id="filterAnomaliesButton">Find anomalies</button>
            <button id="clearChat" class="clearChat" onclick="clearChat()">Clear History</button>
            <div class="dropdown">
                <button class="dropbtn">Visualizations</button>
                <div class="dropdown-content">
                    <a onclick="visualize_bert()">BERT</a>
                    <a onclick="visualize_captum()">Captum</a>
                </div>
            </div>
            <button formsappId="67f1ce68cf251a000254a395"></button>

        </div>
        <br><br>
    </div>

    <script src="{% static 'js/upload.js' %}"></script>
    <script src="{% static 'js/chat.js' %}"></script>
    <script src="{% static 'js/visualize.js' %}"></script>
    <script src="https://forms.app/cdn/embed.js" type="text/javascript" async defer onload="new formsapp('67f1ce68cf251a000254a395', 'popup', {'overlay':'rgba(45,45,45,0.5)','button':{'color':'#fc9a22', 'textColor': '#ffffff', 'text':'Feedback', 'padding': '0'},'width':'70vw','height':'90vh','openingAnimation':{'entrance':'animate__fadeIn','exit':'animate__fadeOut'}}, 'https://0uvzsbsa.forms.app');"></script>
</body>
</html>