helm
bertviz
captum
langchain-openai
python-dotenv
django
torch
torchaudio
torchvision
transformers
bitsandbytes
python-dotenv
djangorestframework
mysqlclient
langsmith
langchain-openai
openai
matplotlib
ipython==7.34.0